<h1>Stupid Coaching</h1>
<h3>Ask your coach anything</h3>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>
